@keyframes forty-five-deg {
  0% {
    transform: translate(0) rotate(45deg);
  }
  50% {
    transform: translate(90px, -90px) rotate(45deg);
    opacity: 0;
  }
  75% {
    transform: translate(-90px, 90px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translate(0) rotate(45deg);
    opacity: 1;
  }
}
@keyframes only-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-90px);
    opacity: 0;
  }
  75% {
    transform: translateY(90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes only-down {
  0% {
    transform: translateY(0) rotate(180deg);
  }
  50% {
    transform: translateY(90px) rotate(180deg);
    opacity: 0;
  }
  75% {
    transform: translateY(-90px) rotate(180deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(180deg);
    opacity: 1;
  }
}
@font-face {
  font-family: "chillax";
  src: url(fonts/Chillax-Bold.otf);
  font-weight: 700 800 900;
}
@font-face {
  font-family: "chillax";
  src: url(fonts/Chillax-Extralight.otf);
  font-weight: 100 200;
}
@font-face {
  font-family: "chillax";
  src: url(fonts/Chillax-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "chillax";
  src: url(fonts/Chillax-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "chillax";
  src: url(fonts/Chillax-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "chillax";
  src: url(fonts/Chillax-Semibold.otf);
  font-weight: 600;
}
/* scroll */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #474747;
}

.double-span .double-text {
  height: 14px;
  overflow: hidden;
  line-height: 100%;
}
.double-span .double-text span {
  display: block;
  transition: all 0.3s linear;
}
.double-span:hover span {
  transform: translateY(-14px);
}

.primary-bg {
  background-color: #16181B !important;
}

.secondary-bg {
  background-color: #1D1E1F !important;
}

.section-padding {
  padding: 100px 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #16181B;
  font-family: "chillax";
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "chillax";
  font-weight: 400 !important;
}

a, p, span, li {
  color: rgba(255, 255, 255, 0.6);
  font-family: "chillax";
}

img {
  max-width: 100%;
}

input, textarea {
  outline: none;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}
a:hover {
  color: rgb(60, 168, 60);
}

li {
  list-style: none;
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1249px;
  }
}
.social-icon {
  display: flex;
  gap: 10px;
}
.social-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #303233;
  border: 1px solid #ddd;
  transition: all 0.3s linear;
  overflow: hidden;
  font-size: 12px;
}
.social-icon i i {
  color: #ddd;
  transform: rotate(0deg);
  transition: all 0.3s linear;
}
.social-icon i:hover {
  border-color: rgb(60, 168, 60);
}

.sticky-class {
  position: sticky;
  top: 3rem;
  opacity: 1;
}

.hover-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
.hover-btn .font-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #303233;
  border: 1px solid #ddd;
  transition: all 0.3s linear;
  overflow: hidden;
}
.hover-btn .font-icon i {
  color: #ddd;
  transform: rotate(0);
  transition: all 0.3s linear;
}
.hover-btn:hover .font-icon {
  border-color: rgb(60, 168, 60);
}

.title {
  color: #1FAC71;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-transform: uppercase;
}

.heading {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
  padding-top: 10px;
}

.header {
  background-color: #16181B;
  padding-top: 20px;
}
.header .logo a {
  text-transform: none;
}
.header .logo h3 {
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  line-height: 32px;
}
.header .hamburger {
  display: none;
}
.header .nav-menu a {
  display: block;
  text-transform: uppercase;
  padding: 10px 0;
}
.header .nav-menu a:hover span {
  transform: translateY(-17px);
  color: #1FAC71;
}
.header .nav-menu .active span {
  color: rgb(60, 168, 60);
}
.header .nav-menu .lets-talk {
  padding: 10px 20px;
  background-color: #373737;
  border: 1px solid;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 13px;
}
.header .nav-menu .lets-talk:hover {
  color: rgb(60, 168, 60);
  border-color: rgb(60, 168, 60);
  background-color: rgb(70, 87, 70);
}
.header .nav-menu .lets-talk:hover span {
  transform: translateY(-14px);
}

.index .header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4;
  padding: 20px 0 50px;
}

.banner-bg {
  background: url(image/banner-bg.webp);
  background-size: cover;
  background-position: center;
}

.banner {
  display: flex;
  height: 100vh;
  justify-content: center;
}
.banner .banner-content {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  width: 64%;
  position: relative;
  z-index: 3;
  padding-right: 103px;
}
.banner .banner-content::befor {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.banner .banner-content h1 {
  color: #fff;
  font-weight: 500;
  font-size: 100px;
  line-height: 100px;
}
.banner .banner-content p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding-top: 20px;
  animation-delay: 0.1s;
  font-weight: 400;
}
.banner .banner-other {
  flex: 1;
  z-index: 2;
  display: flex;
  align-items: end;
  justify-content: end;
  padding-bottom: 60px;
}
.banner .banner-other::afte {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: -100%;
  bottom: 0;
  background-color: #16181B;
  z-index: -1;
}
.banner .banner-other a i {
  transform: rotate(180deg);
}
.banner .banner-other a:hover i {
  animation: only-down 0.3s;
}

.logo-section {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.service-section .service-content {
  position: sticky;
  top: 3rem;
}
.service-section .service-item {
  position: sticky;
  top: 3rem;
  opacity: 1;
  background-color: #1D1E1F;
}
.service-section p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  padding-top: 30px;
}
.service-section .service-item {
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.service-section .service-item span {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
}
.service-section .service-item h5 {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
  text-transform: uppercase;
}
.service-section .service-item p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 0;
}

.selected-section a .font-icon i {
  transform: rotate(45deg);
}
.selected-section a:hover i {
  animation: forty-five-deg 0.3s;
  transform: rotate(45deg);
}
.selected-section .selected-background {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.selected-section .selected-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scale: 1.5;
}
.selected-section .selected-background .position-absolute {
  width: 100%;
  height: 100%;
}
.selected-section .selected-background .position-absolute div {
  height: 100%;
}
.selected-section .selected-background .row {
  height: 100%;
  align-items: end;
  padding: 60px;
  padding-bottom: 50px;
}
.selected-section .selected-background .selected-content {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 40px;
  background: rgba(55, 62, 70, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  position: relative;
  z-index: 1;
}
.selected-section .selected-background .selected-content:hover {
  border-color: rgb(60, 168, 60);
  background-color: rgb(70, 87, 70);
}
.selected-section .selected-background .selected-content h3 {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 60px;
}
.selected-section .selected-background .selected-content p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.selected-section .selected-background .selected-link {
  z-index: 1;
  position: relative;
}
.selected-section .selected-background .selected-link a {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: rgba(55, 62, 70, 0.5);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  color: rgb(255, 255, 255);
  line-height: 32px;
}
.selected-section .selected-background .selected-link a:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(60, 168, 60);
  background-color: rgb(70, 87, 70);
}

.process-section .service-content a {
  background-color: #373737;
  border: 1px solid;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  overflow: hidden;
  font-size: 13px;
  padding: 0.75rem 1rem;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
  gap: 20px;
}
.process-section .service-content a:hover {
  color: #fff;
  border-color: rgb(60, 168, 60);
  background-color: rgb(70, 87, 70);
}
.process-section .service-content a i {
  transform: rotate(45deg);
}
.process-section .service-content a:hover {
  color: rgba(255, 255, 255, 0.6);
  border-color: rgb(60, 168, 60);
  background-color: rgb(70, 87, 70);
}
.process-section .service-content a:hover i {
  animation: forty-five-deg 0.3s;
}
.process-section .service-detail ul li {
  list-style: disc;
}

.award-section p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  width: 35%;
  margin: 30px auto;
}
.award-section .award-img {
  overflow: hidden;
  height: 804px;
  background-color: #ddd;
}
.award-section .award-img .col-4:first-child {
  margin-top: -518px;
}
.award-section .award-img .col-4:nth-child(2) {
  margin-top: -417px;
}
.award-section .award-img .col-4:nth-child(3) {
  margin-top: -331px;
}

.client-section {
  position: relative;
}
.client-section .splider-client-section {
  padding-bottom: 100px;
}
.client-section .m-auto {
  width: 50%;
}
.client-section .m-auto p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  padding: 20px 0;
}
.client-section .splide__arrow {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #303233;
  border: 1px solid #ddd;
  transition: all 0.3s linear;
  overflow: hidden;
}
.client-section .splide__arrow i {
  color: #ddd;
  transform: rotate(0deg);
  transition: all 0.3s linear;
}
.client-section .splide__arrow--next {
  right: -90px;
}
.client-section .splide__arrow--prev {
  left: -90px;
}
.client-section .testimonials-card {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.client-section .testimonials-card img {
  width: 50px !important;
}
.client-section .testimonials-card p {
  font-weight: 500;
  line-height: 26px;
}
.client-section .testimonials-card .client-content h5 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-top: 20px;
  line-height: 32px;
}
.client-section .testimonials-card .client-user {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
}
.client-section .testimonials-card .client-user img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.client-section .testimonials-card .client-user .user-name {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 26px;
  margin: 0;
}
.client-section .testimonials-card .client-user .user-post {
  font-weight: 500;
  line-height: 26px;
}
.client-section .about-section {
  padding-top: 100px;
}
.client-section .about-section .about-content {
  padding: 50px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.client-section .about-section .about-content .about-img {
  width: 30%;
}
.client-section .about-section .about-content .about-img .our-team {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: rgba(55, 62, 70, 0.5);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  color: rgb(255, 255, 255);
  line-height: 32px;
  width: -moz-fit-content;
  width: fit-content;
}
.client-section .about-section .about-content .about-img .our-team:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(60, 168, 60);
  background-color: rgb(70, 87, 70);
}
.client-section .about-section .about-content .img-about {
  height: 320px;
  width: 320px;
}
.client-section .about-section .about-content .img-about img {
  -o-object-fit: cover;
     object-fit: cover;
}
.client-section .about-section .about-content .about-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.client-section .about-section .about-content .about-info p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  width: 97%;
}
.client-section .about-section .about-content .about-info a {
  padding-top: 25px;
}
.client-section .about-section .about-content .about-info a i {
  transform: rotate(45deg);
}
.client-section .about-section .about-content .about-info a:hover i {
  animation: forty-five-deg 0.3s;
}

footer .talk-section a {
  background-color: #fff;
  border: 1px solid;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 13px;
  padding: 10px 30px;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
  gap: 20px;
}
footer .talk-section a:hover {
  color: #fff;
  border-color: rgb(60, 168, 60);
  background-color: rgb(60, 168, 60);
}
footer .talk-section a i {
  transform: rotate(45deg);
}
footer .talk-section a:hover span {
  color: #FFF;
}
footer .talk-section a:hover i {
  animation: forty-five-deg 0.3s;
}
footer .talk-section a span {
  color: #000;
}
footer .talk-section h2 {
  color: #fff;
  font-weight: 500;
  font-size: 78px;
  line-height: 88px;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
}
footer .footer h4 {
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  line-height: 32px;
}
footer .footer h5 {
  color: #fff;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  text-transform: uppercase;
}
footer .footer a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 0;
}
footer .footer .footer-link a {
  position: relative;
}
footer .footer .footer-link a::before {
  content: "";
  transition: all 0.3s linear;
  position: absolute;
  height: 1px;
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: rgb(60, 168, 60);
}
footer .footer .footer-link a:hover::before {
  width: 100%;
}
footer .footer .get-in-touch {
  background-color: #fff;
  border: 1px solid;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 13px;
  padding: 10px 30px;
  font-weight: 400;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
  gap: 20px;
}
footer .footer .get-in-touch:hover {
  color: #fff;
  border-color: rgb(60, 168, 60);
  background-color: rgb(60, 168, 60);
}
footer .footer .get-in-touch i {
  transform: rotate(45deg);
}
footer .footer .get-in-touch:hover span {
  color: #FFF;
}
footer .footer .get-in-touch:hover i {
  animation: forty-five-deg 0.3s;
}
footer .footer .get-in-touch span {
  color: #000;
}
footer .footer .footer-icon a {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 20px;
}
footer .footer .footer-icon a i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #303233;
  border: 1px solid #ddd;
  transition: all 0.3s linear;
  overflow: hidden;
  font-size: 12px;
}
footer .footer .footer-icon a i i {
  color: #ddd;
  transform: rotate(0deg);
  transition: all 0.3s linear;
}
footer .bottom-footer a:hover i {
  animation: only-up 0.3s;
}

.contact-section input, .contact-section textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: #1D1E1F;
  color: rgb(255, 255, 255);
}
.contact-section .submit-box {
  color: #000;
  font-size: 13px;
  line-height: 100%;
}
.contact-section .heading {
  color: #fff;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  width: 70%;
  margin-bottom: 3rem;
}
.contact-section .social-icon {
  position: absolute;
  bottom: 125px;
  left: 15px;
}

.contact .talk-section {
  display: none;
}

.work-content h4 {
  color: #fff;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
}
.work-content p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  width: 70%;
}
.work-content a:hover i {
  animation: only-down 0.3s;
}
.work-content a .font-icon i {
  transform: rotate(180deg);
}

.service-content h3 {
  color: #fff;
  font-weight: 400;
  font-size: 60px;
  line-height: 50px;
}
.service-content p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.service-content a {
  margin: 0 auto;
}
.service-content a .font-icon i {
  transform: rotate(180deg);
}

.errorpage header, .errorpage footer {
  display: none;
}

.error-page {
  height: 100vh;
  display: grid;
  place-items: c;
}

.about-banner {
  display: grid;
  text-align: center;
}
.about-banner .about-info-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  gap: 30px;
}
.about-banner .about-info-banner .about-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.about-banner .about-info-banner .about-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.about-banner .about-info-banner h2 {
  color: #fff;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
}
.about-banner .about-info-banner p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.about-banner .about-info-banner a {
  margin: 0 auto;
}
.about-banner .about-info-banner a .font-icon i {
  transform: rotate(180deg);
}
.about-banner .about-info-banner a:hover i {
  animation: only-down 0.3s;
}

#about .about-width {
  width: 50%;
  margin: 0 auto;
}
#about .about-content {
  padding: 64px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
#about .about-content h3 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 31.2px;
}
#about .about-content h4 {
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  line-height: 52.8px;
}
#about .about-content p {
  margin-bottom: 3rem;
}
#about .about-content .about-grid {
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 35px 1fr;
}
#about .about-content .about-grid p {
  margin: 0;
}
#about .about-content ul h3 {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}
#about .about-content ul .date-about {
  font-size: 13px;
}
#about .about-content .about-info-detail p {
  margin-bottom: 2rem;
}
#about .about-content .about-info-detail h3 {
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}
#about .about-content .about-info-detail a {
  background-color: #373737;
  border: 1px solid;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  overflow: hidden;
  font-size: 13px;
  padding: 0.75rem 1rem;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
  gap: 20px;
}
#about .about-content .about-info-detail a:hover {
  color: #fff;
  border-color: rgb(60, 168, 60);
  background-color: rgb(70, 87, 70);
}
#about .about-content .about-info-detail a i {
  transform: rotate(45deg);
}
#about .about-content .about-info-detail a:hover {
  color: rgba(255, 255, 255, 0.6);
  border-color: rgb(60, 168, 60);
  background-color: rgb(70, 87, 70);
}
#about .about-content .about-info-detail a:hover span {
  transform: translateY(-14px);
}
#about .about-content .about-info-detail a:hover i {
  animation: forty-five-deg 0.3s;
}
#about .about-content .img-section {
  height: 320px;
  width: 320px;
  overflow: hidden;
}
#about .about-content .about-detail h3 {
  color: #fff;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
}

.about-line {
  width: 0%;
  height: 1px;
  background: #fff;
  display: block;
  transition: all 0.6s linear;
}

.service-page {
  overflow: hidden;
}
.service-page .title {
  font-size: 13px;
}
.service-page h3 {
  color: #fff;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  text-transform: capitalize;
  width: 80%;
  margin: 0 auto;
}
.service-page p {
  width: 45%;
  margin: 0 auto;
  padding: 10px 0 50px;
}
.service-page a:hover i {
  animation: only-down 0.3s;
}

.service-number {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
}
.service-number .title {
  font-size: 13px;
}
.service-number h6 {
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
}

.service-development .first-col h3 {
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  text-transform: capitalize;
}
.service-development .first-col p {
  font-size: 18px;
  width: 80%;
}
.service-development .first-col a {
  padding: 40px 0;
}
.service-development .first-col a:hover i {
  animation: forty-five-deg 0.3s;
}
.service-development .first-col a i {
  transform: rotate(45deg);
}
.service-development .second-col li {
  list-style: disc;
  padding: 10px 0;
}

.blog-section {
  padding-top: 100px;
}
.blog-section h3 {
  color: #fff;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  margin: 0;
}
.blog-section a .font-icon i {
  transform: rotate(180deg);
}
.blog-section a:hover i {
  animation: only-down 0.3s;
}

.blog-content {
  border-bottom: 1px solid #ddd;
}
.blog-content a {
  transition: all 0.3s linear;
}
.blog-content a .view-btn {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.blog-content a .font-icon {
  background-color: rgba(255, 255, 255, 0.2392156863);
}
.blog-content a .font-icon i {
  transform: rotate(45deg);
}
.blog-content a:hover {
  color: #fff;
}
.blog-content a:hover .view-btn {
  opacity: 1;
  visibility: visible;
}
.blog-content a:hover .font-icon {
  border-color: #fff;
}
.blog-content .blog-image {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.blog-content .blog-box {
  padding: 20px;
}
.blog-content .blog-box span {
  font-size: 13px;
  text-transform: uppercase;
}
.blog-content .blog-box h4 {
  font-weight: 400;
}

.service-bg {
  margin-top: 3rem;
}

.service-bg, .selected-parallax {
  height: 80vh;
  z-index: 1;
  position: relative;
}

.blog-inner-page {
  text-align: center;
}
.blog-inner-page span {
  padding: 0.4rem 0.5rem;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
}
.blog-inner-page h2 {
  margin-top: 2rem;
  color: #fff;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
}
.blog-inner-page p {
  font-size: 18px;
}
.blog-inner-page a {
  margin: 2rem auto;
  margin-bottom: 4rem;
  font-size: 13px;
}
.blog-inner-page a .font-icon i {
  transform: rotate(180deg);
}
.blog-inner-page a:hover i {
  animation: only-down 0.3s;
}
.blog-inner-page .service-bg img {
  border-radius: 10px;
}

#blog-inner .grid-section {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 4rem;
  width: 75%;
  margin: 0 auto;
}
#blog-inner .grid-section .sticky-div .footer-icon {
  display: flex;
  align-items: end;
  gap: 20px;
  flex-direction: column;
}
#blog-inner .grid-section .sticky-div .footer-icon a {
  width: -moz-fit-content;
  width: fit-content;
}
#blog-inner .grid-section .sticky-div .footer-icon a i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #303233;
  border: 1px solid #ddd;
  transition: all 0.3s linear;
  overflow: hidden;
}
#blog-inner .grid-section .sticky-div .footer-icon a i i {
  color: #ddd;
  transform: rotate(0);
  transition: all 0.3s linear;
}
#blog-inner .grid-section .blog-inner-detail h3 {
  font-weight: 400;
  font-size: 32px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
#blog-inner .grid-section .blog-inner-detail li {
  list-style: disc;
}
#blog-inner .grid-section .blog-inner-detail .box {
  border-radius: 10px;
  padding: 2.5rem;
}
#blog-inner .grid-section .blog-inner-detail .box h5 {
  font-size: 20px;
  font-weight: 400;
}
#blog-inner .grid-section .blog-inner-detail .box h6 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
#blog-inner .grid-section .blog-inner-detail .box span {
  font-size: 13px;
  text-transform: uppercase;
}
#blog-inner .grid-section .blog-inner-detail .box img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.single-banner {
  text-align: center;
}
.single-banner span {
  font-size: 13px;
  font-weight: 400;
}
.single-banner h3 {
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
}
.single-banner p {
  font-size: 18px;
  width: 50%;
  margin: auto;
}

.service-inner-box .box {
  padding: 2.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.service-inner-box .box .popular {
  top: 15px;
  right: 15px;
}
.service-inner-box .box .popular span {
  background-color: #fff;
  color: #000;
  padding: 3px 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
}
.service-inner-box .box span {
  font-size: 13px;
  font-weight: 400;
}
.service-inner-box .box h6 {
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}
.service-inner-box .box p {
  margin: 0;
}
.service-inner-box .box ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
.service-inner-box .box ul li p {
  padding: 15px 0;
  text-transform: uppercase;
}
.service-inner-box .box .double-span {
  background: #fff;
  border-radius: 5px;
  padding: 10px 0;
  display: block;
  margin-top: 10px;
}
.service-inner-box .box .double-span .double-text span {
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.service-inner-box .box .double-span:hover span {
  transform: translateY(-16px);
}

.accordion-button::after {
  content: "+";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  background-image: none;
  color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000;
  font-size: 15px;
  display: grid;
  place-content: center;
}

.accordion-button:not(.collapsed)::after {
  content: "+";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  transform: rotate(45deg);
  background-image: none;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-button {
  background: none !important;
}

button:focus:not(:focus-visible) {
  outline: none !important;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}

.accordion-button {
  padding: 0;
}

.accordion-body {
  padding-left: 0;
  color: rgb(112, 116, 118);
  padding-bottom: 0;
}

.service-fqa span {
  font-size: 13px;
  font-weight: 400;
}
.service-fqa h3 {
  color: #fff;
  font-weight: 400;
  font-size: 64px;
  line-height: 70.4px;
  text-transform: capitalize;
  width: 50%;
}
.service-fqa .accordion-item {
  margin-bottom: 15px;
  border-radius: 0.5rem;
  padding: 2rem;
}

.work-inner-page {
  text-align: center;
}
.work-inner-page h3 {
  color: #fff;
  font-weight: 400;
  font-size: 128px;
  line-height: 128px;
  padding-top: 100px;
}
.work-inner-page p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 50%;
  margin: auto;
}
.work-inner-page a {
  margin: auto;
  margin-top: 20px;
}
.work-inner-page a .font-icon i {
  transform: rotate(180deg);
}
.work-inner-page a:hover i {
  animation: only-down 0.3s;
}

.work-services span {
  font-size: 13px;
  font-weight: 400;
}
.work-services p {
  text-transform: uppercase;
  font-size: 13px;
}

.work-inner-about .title {
  font-size: 13px !important;
  font-weight: 400 !important;
  color: #1FAC71 !important;
}
.work-inner-about .heading {
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
}
.work-inner-about p {
  font-size: 18px;
  padding: 0;
  font-weight: 400 !important;
}
.work-inner-about h5 {
  letter-spacing: 0;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  line-height: 130% !important;
  text-transform: none !important;
}

.pricing-single .box {
  width: 80%;
}
.pricing-single .box h3 {
  color: #fff;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
}
.pricing-single .box ul {
  margin: 0;
  padding: 0;
}
.pricing-single .box li p {
  margin: 0;
  padding: 15px 0;
  text-transform: uppercase;
}
.pricing-single .box-box {
  padding: 2.5rem;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.pricing-single .box-box h3 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 60px;
}
.pricing-single .box-box h4 {
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
}
.pricing-single .box-box input {
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #F8F8F8;
}
.pricing-single .box-box .pricing-submit {
  margin-top: 20px;
  background-color: #fff;
}

.hover-btn::after {
  content: "\e61b";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 1025px) {
  .banner-bg {
    background-size: 118%;
    background-position: 58% 45%;
    background-repeat: no-repeat;
  }
  .client-section .splider-client-section .splide__pagination {
    bottom: -40px;
  }
  .client-section .splider-client-section .testimonials-card {
    padding: 3rem !important;
  }
  .award-section p {
    width: 70%;
  }
  .award-section .award-img {
    height: 551px;
  }
  .about-section .img-about {
    height: auto !important;
    width: auto !important;
  }
  .service-page h3 {
    font-size: 3.5rem;
    width: 100%;
  }
  .service-page p {
    width: 60%;
  }
  .single-banner h3 {
    color: #fff;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
  }
  .single-banner p {
    width: 60%;
  }
  .service-inner-box .box h6 {
    font-size: 24px;
  }
  .pricing-single .box h3 {
    font-size: 60px;
  }
  .work-inner-page h3 {
    font-size: 90px;
  }
  .work-inner-page p {
    width: 70%;
  }
  .work-inner-about .heading {
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 991px) {
  .heading {
    font-size: 32px;
    color: #000;
  }
  .banner .banner-content {
    padding-bottom: 87px;
  }
  .banner .banner-content h1 {
    color: #fff;
    font-weight: 500;
    font-size: 54px;
    line-height: 73px;
    padding-top: 183px;
  }
  .banner .banner-content p {
    font-size: 20px;
  }
  .logo-section .gap-5 {
    gap: 10px !important;
  }
  .selected-section .selected-background {
    padding: 40px;
    background-position: center !important;
    height: 100vh;
  }
  .award-section .award-img {
    height: 424px;
  }
  .service-section .service-item span {
    line-height: 40px;
  }
  .service-section .service-item h5 {
    line-height: 38px;
  }
  .client-section .m-auto {
    width: 75%;
  }
  footer .talk-section h2 {
    color: #fff;
    font-weight: 500;
    font-size: 62px;
    line-height: 88px;
  }
}
@media screen and (max-width: 900px) {
  .heading {
    line-height: 42px;
  }
  .selected-content {
    padding: 20px !important;
    width: -moz-fit-content;
    width: fit-content;
  }
  .selected-content p, .selected-content .hover-btn {
    display: none;
  }
  .selected-link {
    display: none !important;
  }
  .selected-section .selected-background .row {
    padding: 0;
  }
  .selected-section .selected-background .selected-content h3 {
    line-height: 1.2;
    margin: 0;
  }
  .about-content .about-img {
    align-items: center;
    width: 100% !important;
  }
  .about-content .about-img .img-about {
    height: 320px !important;
    width: 320px !important;
  }
  .about-content .about-info {
    width: 100% !important;
    text-align: center !important;
    padding-top: 30px !important;
  }
  .about-content .about-info a {
    margin: 0 auto;
  }
  .service-bg {
    top: 0 !important;
    bottom: 0 !important;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .heading {
    line-height: 45px;
  }
  .banner {
    position: relative;
    height: 75vh;
    justify-content: unset;
  }
  .banner .banner-content {
    padding: 0;
    width: 66%;
  }
  .banner .banner-content h1 {
    color: #fff;
    font-weight: 500;
    font-size: 75px;
    line-height: 100px;
    padding-top: 0;
  }
  .banner .banner-other {
    position: absolute;
    bottom: 75px;
    left: 0;
    z-index: 3;
  }
  .service-section .service-number {
    text-align: unset;
  }
  .service-section .service-item {
    flex-direction: column;
  }
  .selected-section .selected-background {
    height: 50vh;
  }
  .selected-section .selected-background .row {
    padding: 0;
  }
  .selected-section .selected-background img {
    scale: 2;
  }
  .selected-section .selected-background .selected-content h3 {
    line-height: 1.2;
    margin: 0;
  }
  .about-content .row {
    flex-direction: column;
  }
  .service-page p {
    width: 80%;
  }
  .work-content h4 {
    font-size: 60px;
  }
  .work-inner-page h3 {
    font-size: 60px;
  }
  .work-inner-page p {
    width: 90%;
  }
}
@media screen and (max-width: 575px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    transition: all 0.3s linear;
    padding: 30px 0;
    animation-duration: 300ms;
  }
  .header.sticky {
    position: fixed;
    animation-name: stickySlideDown;
    padding-bottom: 20px;
  }
  .header .logo {
    position: relative;
    z-index: 1;
  }
  .header .hamburger {
    display: block !important;
    z-index: 4;
    position: relative;
  }
  .header .hamburger.active {
    position: fixed;
    right: 15px;
    top: 26px;
  }
  .header .hamburger.active .bar:first-child {
    transform: rotate(45deg);
  }
  .header .hamburger.active .bar:nth-child(2) {
    width: 0;
  }
  .header .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
  }
  .header .hamburger .bar {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: all 0.3s ease;
  }
  .header .overlay-bg.active {
    display: block !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    height: 100vh;
  }
  .header .nav-menu {
    flex-direction: column;
    position: fixed;
    z-index: 3;
    top: 77px;
    transform: translateX(-50%);
    left: 50%;
    background-color: #1D1E1F;
    transition: all 0.3s linear;
    gap: 0px !important;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s linear;
    visibility: hidden;
  }
  .header .nav-menu.active {
    top: 80px;
    opacity: 1;
    transition: all 0.3s linear;
    visibility: visible;
  }
  .header .nav-menu a {
    background: #1D1E1F;
    display: block;
  }
  .header .nav-menu a span {
    color: #fff;
  }
  .header .nav-menu .lets-talk {
    margin-top: 10px;
  }
  .header .nav-menu .lets-talk span {
    color: #fff;
  }
  .heading {
    line-height: 40px;
  }
  .container {
    padding: 0 20px;
  }
  p {
    width: 100% !important;
  }
  .banner-bg {
    background-size: 150%;
    background-position: 130% 86%;
  }
  .banner {
    justify-content: start;
    flex-direction: column;
    padding-top: 120px;
    height: 75vh;
  }
  .banner .banner-content {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .banner .banner-other {
    flex: none;
    padding-top: 50px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  .banner .banner-other::after {
    left: -100%;
  }
  .banner .banner-content h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .logo-section .gap-5 {
    flex-wrap: wrap;
    gap: 20px !important;
  }
  .client-section .m-auto {
    width: 100%;
  }
  .client-section .about-content {
    padding: 30px !important;
  }
  .client-section .about-content .about-info {
    padding: 25px 0 0 !important;
  }
  .award-section .award-img {
    height: 275px;
  }
  .award-section .award-img .col-4:first-child {
    margin-top: -200px;
  }
  .award-section .award-img .col-4:nth-child(2) {
    margin-top: -267px;
  }
  .award-section .award-img .col-4:nth-child(3) {
    margin-top: -156px;
  }
  footer .talk-section h2 {
    font-size: 37px;
    line-height: 50px;
    width: 100%;
  }
  .selected-section .selected-background {
    height: 30vh;
    padding: 20px;
  }
  .selected-section .selected-background .selected-content h3 {
    font-size: 2rem;
  }
  .service-section .service-item {
    top: 5.5rem;
  }
  .service-page h3 {
    font-size: 2.5rem;
    line-height: 50px;
  }
  .service-page p {
    width: 100%;
  }
  .service-number {
    grid-template-columns: 1fr 1fr;
  }
  .service-number h6 {
    font-size: 2rem;
  }
  .service-development .first-col p {
    margin: 0;
  }
  .single-banner h3 {
    color: #fff;
    font-weight: 500;
    font-size: 39px;
    line-height: 45px;
  }
  .service-fqa h3 {
    width: 100%;
    font-size: 38px;
  }
  .pricing-single .box h3 {
    font-size: 40px;
  }
  .work-content h4 {
    font-size: 40px;
  }
  .work-inner-page h3 {
    color: #fff;
    font-weight: 500;
    font-size: 50px;
    line-height: 40px;
  }
  .about-banner .about-info-banner {
    width: 100%;
  }
  .about-banner .about-info-banner h2 {
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (max-width: 370px) {
  .heading {
    font-size: 25px;
  }
  .banner .banner-content h1 {
    font-size: 55px;
    line-height: 70px;
  }
  .selected-section .selected-background {
    height: 100vh;
  }
}/*# sourceMappingURL=responsive.css.map */